.catering-splash-screen {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;     /* centers vertically */
}

.catering-icons-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1vw;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
}

.catering-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 20vw;
  margin-top: 0px;
}

.catering-icon-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.catering-icon-image {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.catering-icon-description {
  font-size: 20px;
  margin: 0;
}

.order-instructions-wrapper {
  background-color: #D9CAA0;
  width: 80%;
  margin: 0 auto 8vw auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3vw;
}

.order-instructions-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3vw 6vw;
}

.order-instructions-title {
  font-size: 4.5vw;
  text-align: center;
  width: 100%;
  margin-top: 0px;
}

.order-step {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  margin: 1vw 0;
  width: 100%;
}

.order-step-icon {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  overflow: hidden;
}

.order-step-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.order-step-title {
  margin: 0;
  font-size: 2.7vw;
}

.order-step-text {
  margin: 0;
  font-size: 2vw;
}

.package-container {
  display: flex;
  background-color: #d9caa0;
  width: 70vw;
  border-radius: 5vw;
  position: relative;
  justify-content: flex-end;
  margin-bottom: 13vw;
  min-height: 55vw;
}

.package-image {
  position: absolute;
  width: 37vw;
  height: 37vw;
  border-radius: 5vw;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}

.package-info {
  width: 38vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.package-title {
  font-size: 5vw;
  margin-bottom: 0px;
  font-family: "amiko";
  line-height: 1.1;
}

.package-description {
  margin-top: 0.2vw;
  font-size: 2vw;
  font-family: "amiko";
  text-align: left;
  margin-bottom: 3vw;
  font-weight: bold;
}

.package-list {
  margin: 0;
  list-style-position: outside;
  font-size: 1.9vw;
  font-family: "amiko";
  list-style: none;
  padding-left: 0;
  font-weight: 500;
  margin-bottom: 3vw;

}

.package-list li::before {
  content: "-";
  margin-right: 0.5em;
}
