.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: visible;
}

.home-main {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll-indicator {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 70px;
  filter: brightness(0) invert(1); 
  z-index: 10; 
  user-select: none;
  cursor: default;
}



.featured-item {
  display: flex;
  width: 75%;
  height: auto;
  border-radius: 5vw;
  position: relative;
  margin-top: 7vw;
  transition: background-color 0.1s ease;
}
.featured-item:hover {
  background-color: #d9caa0;
}

.featured-item-button {
  background: #f9f5eb;
  color: #222;
  border: none;
  border-radius: 1vw;
  padding: 0.8vw 1.3vw;
  font-size: 1.5vw;
  font-family: "amiko", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, transform 0.2s;
  width: 9vw;
  margin-right: 1vw;
}

.featured-item-button:hover {
  background: #e0dacb;
  color: #000;
  transform: scale(1.05);
}

.overlay-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.splash-text-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  width: 75%;
  padding: 0 1rem;
  pointer-events: none;
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.splash-text-container h1 {
  font-size: 7.6vw;
  margin: 0 0 0.6rem 0;
  color: #f7e9c6;
  font-weight: 600;
  line-height: 1.1;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  pointer-events: auto;

  /* Animation */
  opacity: 0;
  animation: fadeSlideUp 1s ease forwards;
  animation-delay: 0s;
}

.splash-text-container p {
  font-size: 2vw;
  max-width: 70%;
  line-height: 1.4;
  color: #f7e9c6;
  font-weight: 400;
  margin: 0 auto;
  letter-spacing: 0.02em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  pointer-events: auto;

  /* Animation */
  opacity: 0;
  animation: fadeSlideUp 1s ease forwards;
  animation-delay: 0.7s; 
}

.fixed-icon {
  position: fixed;
  top: 6px;
  right: 20px;
  width: 4vw; 
  height: 4vw;
  z-index: 1000; 
  filter: invert(94%) sepia(21%) saturate(327%) hue-rotate(16deg) brightness(102%) contrast(85%);
}
